{%extends 'main.html'%}

{%block content%}
<div>
	<form method="post">
		{% csrf_token %}
	    <h2>Reset Password</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div>
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'accounts-login' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
</div>
{%endblock content%}